@font-face {
  font-family: 'Akrobat Regular';
  src: url('../../fonts/Akrobat-Regular.eot');
  src: url('../../fonts/Akrobat-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/Akrobat-Regular.woff') format('woff'), url('../../fonts/Akrobat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat Bold';
  src: url('../../fonts/Akrobat-Bold.eot');
  src: url('../../fonts/Akrobat-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/Akrobat-Bold.woff') format('woff'), url('../../fonts/Akrobat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Light';
  src: url('../../fonts/Roboto-Light.eot');
  src: url('../../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto-Light.woff') format('woff'), url('../../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('../../fonts/Roboto-Medium.eot');
  src: url('../../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto-Medium.woff') format('woff'), url('../../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('../../fonts/Roboto-Regular.eot');
  src: url('../../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto-Regular.woff') format('woff'), url('../../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.underline {
  line-height: 47px;
}
.underline:after {
  display: block;
  content: "";
  height: 2px;
  width: 95%;
  background-color: #fb5602;
  margin: 0 auto;
  line-height: 10px;
}
.main-button {
  margin: 3rem 0;
  color: #ffffff;
  font-family: 'Roboto Regular';
  font-size: 1em;
  font-weight: 400;
  padding: 1.7rem 6rem;
  background-image: linear-gradient(to top, #fb5503 0%, #ffa200 100%);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  border: 0;
}
.main-button:hover {
  background-image: linear-gradient(to top, #fc661b 0%, #ffab1a 100%);
}
.main-title {
  text-align: center;
  width: 100%;
}
.main-title h2 {
  color: #2b2b2b;
  font-family: 'Akrobat Regular';
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  line-height: 47px;
}
.main-title h2:after {
  display: block;
  content: "";
  height: 2px;
  width: 95%;
  background-color: #fb5602;
  margin: 0 auto;
  line-height: 10px;
}
.main-form {
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #fefefe;
  padding: 1rem 0;
  margin: 0 1rem;
}
.main-form .main-form__form-box {
  border: 2px solid #39c7f4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 93%;
  padding: 1rem 2.5rem;
  margin: auto;
}
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}
* {
  list-style: none;
}
input:focus,
textarea:focus {
  outline: 0;
}
.slick-slide {
  outline: none;
}
.img-thumbnail {
  border: none;
}
html {
  font-size: 10px;
}
body {
  font-size: 16px;
}
.wrapper {
  margin: 0 auto;
}
.header_box-shadow {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
.header_wrap {
  max-width: 1170px;
  margin: 0 auto;
}
a.navbar-brand {
  margin-left: 2rem;
}
.navbar .navbar-toggler .line:after {
  content: '';
  display: inline-block;
  height: 1px;
  width: 20px;
  margin: .5rem;
  background: #000;
  display: flex;
  flex-direction: column;
  outline: none;
}
.navbar .collapse .navbar-list {
  width: 100%;
  justify-content: flex-end;
  position: relative;
}
.navbar .collapse .navbar-list .navbar-list-item {
  margin: 0 2.5rem;
}
.navbar .collapse .navbar-list .navbar-list-item a {
  color: #2b2b2b;
  font-family: 'Roboto Light';
  font-size: 1em;
  font-weight: 300;
  display: inline-block;
}
.navbar .collapse .navbar-list .navbar-list-item a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #39c7f4;
  transition: width 0.2s ease-in-out;
}
.navbar .collapse .navbar-list .navbar-list-item a:hover:after,
.navbar .collapse .navbar-list .navbar-list-item a:focus:after {
  width: 90%;
  margin: 0 auto;
}
.smm {
  padding: 4rem 0;
  background: url(../../build/img/smm-bg.png) center right no-repeat;
}
.smm .smm-box_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.smm .smm-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 750px;
}
.smm .smm-box .smm-box_container-btn {
  width: 100%;
}
.smm .smm-box h1 {
  color: #2b2b2b;
  font-family: 'Akrobat Regular';
  font-size: 4.5em;
  margin-top: 9rem;
  font-weight: 400;
}
.smm .smm-box button {
  margin: 3rem 0;
  color: #ffffff;
  font-family: 'Roboto Regular';
  font-size: 1em;
  font-weight: 400;
  padding: 1.7rem 6rem;
  background-image: linear-gradient(to top, #fb5503 0%, #ffa200 100%);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  border: 0;
}
.smm .smm-box button:hover {
  background-image: linear-gradient(to top, #fc661b 0%, #ffab1a 100%);
}
.smm .smm-box span {
  color: #2b2b2b;
  font-family: 'Roboto Medium';
  font-size: 1em;
  font-weight: 500;
  transform: translateX(30%);
  text-align: right;
}
.smm .smm-box span:before {
  content: '';
  display: inline-block;
  height: 28px;
  width: 26px;
  background: url('../../build/img/icon-pointer.png') no-repeat;
  margin-right: 1rem;
}
.why-smm {
  margin-bottom: 20rem;
}
.why-smm .why-smm__title {
  margin-bottom: 20rem;
}
.why-smm .decorate-up:nth-of-type(2n+1):before {
  background: url('../../build/img/decor-up.png') no-repeat;
  content: '';
  display: block;
  width: 270px;
  height: 95px;
  position: absolute;
  left: 50%;
  top: -110px;
  right: 0;
  bottom: 0;
}
.why-smm .decorate-up:nth-child(2):after {
  background: url('../../build/img/decor-up.png') no-repeat;
  content: '';
  display: block;
  width: 270px;
  height: 95px;
  position: absolute;
  left: 50%;
  bottom: -80px;
  transform: rotate(180deg);
}
.why-smm .why-smm__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.why-smm .why-smm__item:nth-of-type(even):before {
  display: none;
}
.why-smm .why-smm__item p {
  width: 66%;
  text-align: center;
  line-height: 20px;
  color: #2b2b2b;
  font-family: 'Roboto Regular';
  font-size: 1.125em;
  font-weight: 400;
  margin: 4rem 0;
}
.our-projects .our-projects__title {
  margin-bottom: 6rem;
}
.our-projects .our-projects__gallery {
  background: url('../../build/img/bg-decorate.png') 0 73% no-repeat;
  width: 100%;
}
.our-projects .our-projects__gallery .our-project__carousel {
  display: flex;
  justify-content: space-between;
}
.our-projects .our-projects__gallery .our-projects__card {
  height: 490px;
  background-image: linear-gradient(to top, #298fb0 0%, #39c7f4 100%);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 20px 20px;
  position: relative;
  padding: 5rem 2rem;
  margin: 20rem 6rem 5rem;
  width: 225px;
}
.our-projects .our-projects__gallery .our-projects__card .our-projects--wrapp-img {
  background-color: #ffffff;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 217px;
  transform: rotate(-45deg);
  padding: 8px;
  position: absolute;
  top: -29%;
  left: 2%;
  border-radius: 20px;
}
.our-projects .our-projects__gallery .our-projects__card .our-projects__card-img {
  height: 202px;
  border: 2px solid #39c7f4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-projects .our-projects__gallery .our-projects__card .our-projects__card-img img {
  transform: rotate(45deg);
}
.our-projects .our-projects__gallery .our-projects__card .our-projects__card-info {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.our-projects .our-projects__gallery .our-projects__card .our-projects__card-info h3 {
  color: #ffffff;
  font-family: 'Akrobat Bold';
  font-size: 1.125em;
  font-weight: 700;
  text-align: center;
}
.our-projects .our-projects__gallery .our-projects__card .our-projects__card-info ul li {
  list-style-image: url('../../build/img/list-icon.png');
  color: #ffffff;
  font-family: 'Akrobat Regular';
  font-size: 1em;
  font-weight: 400;
  margin: 1.5rem 0;
}
.our-projects .our-projects__button {
  text-align: center;
  width: 100%;
}
.our-projects .our-projects__button button {
  margin: 3rem 0;
  color: #ffffff;
  font-family: 'Roboto Regular';
  font-size: 1em;
  font-weight: 400;
  padding: 1.7rem 6rem;
  background-image: linear-gradient(to top, #fb5503 0%, #ffa200 100%);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  border: 0;
  padding: 1.2rem 1.5rem;
  margin: 0;
}
.our-projects .our-projects__button button:hover {
  background-image: linear-gradient(to top, #fc661b 0%, #ffab1a 100%);
}
.benefits .benefits__title {
  margin: 10rem 0 7rem;
}
.benefits .benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.benefits .benefits__item p {
  width: 66%;
  text-align: center;
  line-height: 20px;
  color: #2b2b2b;
  font-family: 'Roboto Regular';
  font-size: 1.125em;
  font-weight: 400;
  margin: 4rem 0;
}
.reviews {
  padding-bottom: 10rem;
}
.reviews .reviews__title {
  margin: 10rem 0 2rem;
}
.reviews .reviews__gallery {
  width: 100%;
  background: url(../../build/img/bg-decorate2.png) 0 34% no-repeat;
}
.reviews .reviews__gallery .reviews__carousel .reviews__card {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-image: linear-gradient(to top, #298fb0 0%, #39c7f4 100%);
  position: relative;
  padding: 12rem 0 4rem;
  margin: 17rem auto 0;
}
.reviews .reviews__gallery .reviews__carousel .reviews__card .reviews__card-img {
  background: transparent;
  position: absolute;
  top: -130px;
  left: 21%;
}
.reviews .reviews__gallery .reviews__carousel .reviews__card .reviews__card-name h4 {
  color: #ffffff;
  font-family: 'Akrobat Bold';
  font-size: 1.625em;
  font-weight: 700;
}
.reviews .reviews__gallery .reviews__carousel .reviews__card .reviews__card-desc p {
  color: #ffffff;
  font-family: 'Roboto Regular';
  font-size: 1em;
  font-weight: 400;
}
.reviews .reviews__gallery .reviews__carousel .reviews__card .reviews__card-text {
  width: 85%;
  margin: 0 auto;
}
.reviews .reviews__gallery .reviews__carousel .reviews__card .reviews__card-text p {
  color: #fffefe;
  font-family: 'Roboto Light';
  font-size: .87em;
  font-weight: 300;
  line-height: 24px;
}
.price {
  position: relative;
  background: url('../../build/img/BG_Like.png') 68% 7% no-repeat;
}
.price .price__title {
  padding-bottom: 6rem;
}
.price .price_bg {
  height: 53%;
  width: 100%;
  background-image: linear-gradient(to top, #298fb0 0%, #39c7f4 100%);
  position: absolute;
  top: 16%;
  left: 0;
  z-index: -50;
}
.price .price-content {
  display: flex;
  width: 100%;
  z-index: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.price .separator_price {
  background: url(../../build/img/decor3.png) no-repeat;
  position: absolute;
  bottom: 17%;
  width: 76%;
  margin: 0 auto;
  height: 8px;
  z-index: -16;
}
.price .price__card--container {
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 1rem;
  margin: 1.5rem 4.5rem;
  display: flex;
  height: max-content;
  width: 280px;
  background: #ffffff;
}
.price .price__card {
  border-radius: 20px;
  border: 2px solid #39c7f4;
  background-color: #ffffff;
  padding: 3rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price .price__card .price__card-title h4 {
  color: #2b2b2b;
  font-family: 'Akrobat Bold';
  font-size: 2em;
  font-weight: 700;
}
.price .price__card .price__card-list {
  width: 90%;
  margin: 0 auto;
}
.price .price__card .price__card-list li {
  list-style-image: url('../../build/img/list-icon2.png');
  line-height: 16px;
  margin: 1.5rem 0;
  color: #2b2b2b;
  font-family: 'Roboto Light';
  font-size: .87;
  font-weight: 300;
}
.price .price__card span {
  margin: 2.2rem 0 1rem;
  color: #2b2b2b;
  font-family: 'Akrobat Bold';
  font-size: 1.5em;
  font-weight: 700;
}
.price .price__card button {
  margin: 3rem 0;
  color: #ffffff;
  font-family: 'Roboto Regular';
  font-size: 1em;
  font-weight: 400;
  padding: 1.7rem 6rem;
  background-image: linear-gradient(to top, #fb5503 0%, #ffa200 100%);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  border: 0;
  margin: 0;
  padding: 1.8rem 4.1rem;
}
.price .price__card button:hover {
  background-image: linear-gradient(to top, #fc661b 0%, #ffab1a 100%);
}
.footer {
  padding-bottom: 6rem;
}
.footer .footer__title {
  margin: 10rem 0 6rem;
}
.footer .social {
  width: 100%;
  margin: 1rem 0;
}
.footer .social .social__icon {
  display: inline-block;
}
.footer .social .social__icon .social__icon-list {
  display: flex;
  margin: 1.5rem 2rem;
}
.footer .social .social__icon .social__icon-list li {
  margin: 0 0.75rem;
}
.footer .social .social__tel {
  display: flex;
  width: 58%;
  justify-content: space-around;
  float: right;
  transform: translate(50px, 10px);
}
.footer .social .social__tel .social__tel-call,
.footer .social .social__tel .social__tel-manager {
  display: inherit;
  flex-direction: column;
}
.footer .social .social__tel .social__tel-call p,
.footer .social .social__tel .social__tel-manager p {
  color: #39c7f4;
  font-family: 'Akrobat Bold';
  font-size: 1.125em;
  font-weight: 400;
}
.footer .form-footer {
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #fefefe;
  padding: 1rem 0;
  margin: 0 1rem;
}
.footer .form-footer .main-form__form-box {
  border: 2px solid #39c7f4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 93%;
  padding: 1rem 2.5rem;
  margin: auto;
}
.footer .form-footer .form-box {
  border: 2px solid #39c7f4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 93%;
  padding: 1rem 2.5rem;
  margin: auto;
}
.footer .form-footer .form-box h3 {
  font-family: "Roboto Bold";
  font-size: 1.25em;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.footer .form-footer .form-box input,
.footer .form-footer .form-box textarea {
  font-family: 'Roboto Light';
  font-size: .87em;
  font-weight: 300;
  resize: none;
  border-radius: 12px;
  border: 2px solid #39c7f4;
  background-color: #fefefe;
  padding: .7rem 0 .7rem 1rem;
  margin: 1.1rem 0;
}
.footer .form-footer .form-box .button-send {
  margin: 3rem 0;
  color: #ffffff;
  font-family: 'Roboto Regular';
  font-size: 1em;
  font-weight: 400;
  padding: 1.7rem 6rem;
  background-image: linear-gradient(to top, #fb5503 0%, #ffa200 100%);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  border: 0;
  padding: 1.8rem 1.4rem 1.4rem;
  margin-bottom: 1.4rem;
  width: 50%;
  margin: 0;
}
.footer .form-footer .form-box .button-send:hover {
  background-image: linear-gradient(to top, #fc661b 0%, #ffab1a 100%);
}
.form-popup {
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #fefefe;
  padding: 1rem 0;
  margin: 0 1rem;
  min-width: 270px;
  width: 20%;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  right: 0;
  z-index: 150;
  height: max-content;
  display: none;
}
.form-popup .main-form__form-box {
  border: 2px solid #39c7f4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 93%;
  padding: 1rem 2.5rem;
  margin: auto;
}
.form-popup .form-box {
  border: 2px solid #39c7f4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 93%;
  padding: 1rem 2.5rem;
  margin: auto;
}
.form-popup .form-box h3 {
  line-height: 24px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  color: #2b2b2b;
  font-family: 'Akrobat Bold';
  font-size: 2em;
  font-weight: 700;
}
.form-popup .form-box p {
  color: #2b2b2b;
  font-family: 'Roboto Regular';
  font-size: 1.125em;
  font-weight: 400;
  text-align: center;
}
.form-popup .form-box input,
.form-popup .form-box textarea {
  font-family: 'Roboto Light';
  font-size: .87em;
  font-weight: 300;
  resize: none;
  border-radius: 12px;
  border: 2px solid #39c7f4;
  background-color: #fefefe;
  padding: .7rem 0 .7rem 1rem;
  margin: 1.1rem 0;
}
.form-popup .form-box .button-order {
  margin: 3rem 0;
  color: #ffffff;
  font-family: 'Roboto Regular';
  font-size: 1em;
  font-weight: 400;
  padding: 1.7rem 6rem;
  background-image: linear-gradient(to top, #fb5503 0%, #ffa200 100%);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  border: 0;
  padding: 1.8rem 1.4rem 1.4rem;
  margin-bottom: 1.4rem;
  width: 50%;
  margin: 0;
}
.form-popup .form-box .button-order:hover {
  background-image: linear-gradient(to top, #fc661b 0%, #ffab1a 100%);
}
.db {
  display: block;
}
.bg-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 149;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
