@import 'fonts.less';

@primary-light-color: #ffffff;
@primary-color-text: #2b2b2b;
@border-color: #39c7f4;
@decor-line-color: #fb5602;


* {
    margin: 0;
    padding: 0;
    list-style: none;
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none;
}

.slick-slide {
    outline: none;
}

.img-thumbnail {
    border: none;
}

.underline {
    line-height: 47px;

    &:after {
        display: block;
        content: "";
        height: 2px;
        width: 95%;
        background-color: @decor-line-color;
        margin: 0 auto;
        line-height: 10px;
    }
}

.main-button {
    margin: 3rem 0;
    color: @primary-light-color;
    font-family: 'Roboto Regular';
    font-size: 1em;
    font-weight: 400;
    padding: 1.7rem 6rem;
    background-image: linear-gradient(to top, #fb5503 0%, #ffa200 100%);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    border: 0;

    &:hover {
        background-image: linear-gradient(to top, lighten(#fb5503, 5%) 0%, lighten(#ffa200, 5%) 100%);
    }
}


.main-title {
    text-align: center;
    width: 100%;


    h2 {
        color: @primary-color-text;
        font-family: 'Akrobat Regular';
        font-size: 2em;
        font-weight: 400;
        text-align: center;
        display: inline-block;
        .underline;
    }
}

html {
    font-size: 10px;
}

body {
    font-size: 16px;
}


.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}


.navbar {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
    background-color: @primary-light-color;

    .navbar-toggler {
        .line {
            &:after {
                content: '';
                display: inline-block;
                height: 1px;
                width: 20px;
                margin: .5rem;
                background: #000;
                display: flex;
                flex-direction: column;
                outline: none;
            }
        }
    }

    .collapse {
        .navbar-nav {
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;

            li {
                margin: 0 2.5rem;

                a {
                    color: @primary-color-text;
                    font-family: 'Roboto Light';
                    font-size: 1em;
                    font-weight: 300;

                    &:after {
                        display: block;
                        content: "";
                        height: 1px;
                        width: 0%;
                        background-color: @border-color;
                        transition: width .2s ease-in-out;
                    }

                    &:hover:after,
                    &:focus:after {
                        width: 90%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.smm {
    padding: 4rem 0;
    background: url(../../build/img/smm-bg.png) center right no-repeat;

    .smm-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 750px;

        h1 {
            color: @primary-color-text;
            font-family: 'Akrobat Bold';
            font-size: 4.5rem;
            margin-top: 9rem;
            line-height: 72px;
        }

        button {
            .main-button;
        }

        span {
            color: @primary-color-text;
            font-family: 'Roboto Medium';
            font-size: 1em;
            font-weight: 500;
            transform: translateX(30%);
            text-align: right;

            &:before {
                content: '';
                display: inline-block;
                height: 28px;
                width: 26px;
                background: url('../../build/img/icon-pointer.png') no-repeat;
                margin-right: 1rem;
            }
        }
    }
}

//Why SMM BLOCK
.why-smm {
    margin-bottom: 20rem;

    .why-smm__title {
        margin-bottom: 20rem;
    }

    .decorate-up {
        &:nth-of-type(2n+1):before {
            background: url('../../build/img/decor-up.png') no-repeat;
            content: '';
            display: block;
            width: 270px;
            height: 95px;
            position: absolute;
            left: 50%;
            top: -110px;
            right: 0;
            bottom: 0;
        }

        &:nth-child(2):after {
            background: url('../../build/img/decor-up.png') no-repeat;
            content: '';
            display: block;
            width: 270px;
            height: 95px;
            position: absolute;
            left: 50%;
            bottom: -80px;
            transform: rotate(180deg);
        }
    }

    .why-smm__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        &:nth-of-type(even):before {
            display: none;
        }

        p {
            width: 66%;
            text-align: center;
            line-height: 20px;
            color: @primary-color-text;
            font-family: 'Roboto Regular';
            font-size: 1.125em;
            font-weight: 400;
            margin: 4rem 0;
        }
    }
}

//OUR-PROJECTS BLOCK
.our-projects {

    .our-projects__title {
        margin-bottom: 6rem;
    }

    .our-projects__gallery {
        background: url('../../build/img/bg-decorate.png') 0 69.5% no-repeat;
        width: 100%;

        .our-project__carousel {
            display: flex;
            justify-content: space-between;

        }

        .our-projects__card {
            height: 490px;
            background-image: linear-gradient(to top, #298fb0 0%, @border-color 100%);
            box-shadow: 0 2px 30px rgba(0, 0, 0, 0.25);
            border-radius: 0 0 20px 20px;
            position: relative;
            padding: 5rem 2rem;
            margin: 20rem 6rem 5rem;

            .our-projects--wrapp-img {
                background-color: @primary-light-color;
                box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
                width: 235px;
                height: 235px;
                transform: rotate(-45deg);
                padding: 8px;
                position: absolute;
                top: -29%;
                left: 5%;
                border-radius: 20px;
            }

            .our-projects__card-img {
                height: 219px;
                border: 2px solid @border-color;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    transform: rotate(45deg);
                }
            }

            .our-projects__card-info {
                width: 60%;
                margin: 0 auto;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                justify-content: flex-end;
                height: 100%;

                h3 {
                    color: @primary-light-color;
                    font-family: 'Akrobat Bold';
                    font-size: 1.125em;
                    font-weight: 700;
                    text-align: center;
                }

                ul {

                    li {
                        list-style-image: url('../../build/img/list-icon.png');
                        color: @primary-light-color;
                        font-family: 'Akrobat Regular';
                        font-size: 1em;
                        font-weight: 400;
                        margin: 1.5rem 0;
                    }
                }
            }
        }
    }

    .our-projects__button {
        text-align: center;
        width: 100%;

        button {
            .main-button;
            padding: 1.2rem 1.5rem;
            margin: 0;
        }
    }
}

// Benefits BLOCK

.benefits {
    .benefits__title {
        margin: 10rem 0 7rem;
    }

    .benefits__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        p {
            width: 66%;
            text-align: center;
            line-height: 20px;
            color: @primary-color-text;
            font-family: 'Roboto Regular';
            font-size: 1.125em;
            font-weight: 400;
            margin: 4rem 0;
        }
    }
}

// Reviews

.reviews {
    padding-bottom: 10rem;

    .reviews__title {
        margin: 10rem 0 2rem;
    }

    .reviews__gallery {
        width: 100%;

        background: url(../../build/img/bg-decorate2.png) 0 34% no-repeat;

        .reviews__carousel {

            .reviews__card {
                width: 350px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: 0 2px 30px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                background-image: linear-gradient(to top, #298fb0 0%, @border-color 100%);
                position: relative;
                padding: 12rem 0 4rem;
                margin: 17rem auto 0;

                .reviews__card-img {
                    background: transparent;
                    position: absolute;
                    top: -130px;
                    left: 21%;

                }


                .reviews__card-name {
                    h4 {
                        color: @primary-light-color;
                        font-family: 'Akrobat Bold';
                        font-size: 1.625em;
                        font-weight: 700;
                    }
                }

                .reviews__card-desc {
                    p {
                        color: @primary-light-color;
                        font-family: 'Roboto Regular';
                        font-size: 1em;
                        font-weight: 400;
                    }
                }

                .reviews__card-text {
                    width: 85%;
                    margin: 0 auto;

                    p {
                        color: #fffefe;
                        font-family: 'Roboto Light';
                        font-size: .87em;
                        font-weight: 300;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}



.slide {
    height: 50vh;
    background: #aaa;
    width: 350px;
}

.abc {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #aaa;
    height: 100vh;

    .abc-slide {
        background: #fff;
        height: 50vh;
        width: 33%;

        span {
            background-color: #ccc;
        }
    }
}